body {
	min-width: 360px;
	background-color: #f5f5f5;
	font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

.container {
	width: 100%;
	max-width: 460px;
	margin: 0 auto;
	padding: 0 16px;
}

.page-indent {
	padding-top: 10px;
	padding-bottom: 20px;
}

.driver-profile-dialog {
	--el-dialog-width: calc(100% - 32px) !important;

	max-width: 460px;
}