// Переопределение CSS переменных Element Plus
:root {

}

.el-button {
	text-decoration: none;
}

.el-form-item {
	width: 100% !important;
	margin-bottom: 0 !important;
}

.el-input,
.el-select,
.el-date-editor {
	width: 100% !important;
	--el-date-editor-width: 100% !important;
	--el-date-editor-daterange-width: 100% !important;
}

.el-row {
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

// .el-select-dropdown {
// 	&__item {
// 		height: auto !important;
// 		min-height: 34px !important;
// 		padding: 0 12px !important;
// 		white-space: normal !important;
// 		overflow: unset !important;
// 		text-overflow: unset !important;
// 	}
// }

.el-date-picker__header {
	.el-picker-panel__icon-btn {
		padding: 0 8px;
	}

	.d-arrow-left {
		display: none;
	}

	.d-arrow-right {
		display: none;
	}
}

.el-dialog {
	--el-dialog-padding-primary: 24px;
	--el-dialog-title-font-size: 20px !important;
	--el-dialog-margin-top: 5vh !important;
}

.el-alert {
	box-shadow: var(--el-box-shadow-lighter);
}
